.info {
  grid-column: 1/4;
  grid-row: 2/3;
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #888;
  position: relative;

  .save-btn {
    position: absolute;
    right: 40px;
    top: 20px;
    border-radius: 50%;
    border: solid 1px #888;
    margin: 0;
    padding: 5px;
    color: #888;
    height: 28px;
    width: 28px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      color: #555;
      border: solid 1px #555;
    }
  }

  &__temperature {
    font-size: 48px;
    font-weight: 600;
  }

  &__today {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__city {
    font-size: 28px;
    font-weight: 500;
    margin: 15px 0;
  }

  &__weather {
    font-size: 16px;
    font-weight: 500;
    display: flex;
  }

  &__wind-deg {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    width: 16px;
    height: 16px;
  }
}