.search-input {
  position: relative;

  &__input {
    width: 100%;
    border: 1px solid #e8ebf1;
    background: #fff;
    border-radius: 2px;
    color: inherit;
    line-height: 40px;
    padding: 0 25px 0 8px;
    color: #555;
    font-weight: 500;
    font-size: 13px;

    &::placeholder {
      color: lightgray;
    }

    &:focus {
      outline: none;
      border-color: #555;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__icon {
    position: absolute;
    top: 14px;
    right: 7px;
    pointer-events: none;
  }
}