.search-input {
  position: relative;
}

.search-input__input {
  width: 100%;
  border: 1px solid #e8ebf1;
  background: #fff;
  border-radius: 2px;
  color: inherit;
  line-height: 40px;
  padding: 0 25px 0 8px;
}

.search-input__input::-webkit-input-placeholder {
  color: lightgray;
}

.search-input__input:-ms-input-placeholder {
  color: lightgray;
}

.search-input__input::-ms-input-placeholder {
  color: lightgray;
}

.search-input__input::placeholder {
  color: lightgray;
}

.theme--dark .search-input__input {
  background: #888;
  border-color: #6e55ff;
}

.theme--dark .search-input__input::-webkit-input-placeholder {
  color: inherit;
}

.theme--dark .search-input__input:-ms-input-placeholder {
  color: inherit;
}

.theme--dark .search-input__input::-ms-input-placeholder {
  color: inherit;
}

.theme--dark .search-input__input::placeholder {
  color: inherit;
}

.theme--dark .search-input__input:focus {
  border-color: #300379;
}

.search-input__input:focus {
  outline: none;
  border-color: #80bdff;
}

.search-input__input:disabled {
  cursor: not-allowed;
}

.search-input__icon {
  position: absolute;
  top: 14px;
  right: 7px;
  pointer-events: none;
}
/*# sourceMappingURL=Searcher.css.map */