.cities-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  &__item {
    width: 130px;
    height: 130px;
    border: 1px solid #888;
    color: #888;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;

    & a {
      color: #888;
    }

    &:hover {
      border: 1px solid #555;
      color: #555;

      & a {
        color: #555;
      }
    }
  }
}