.spinner {
  display: inline-block;
  border: 3px solid rgb(119, 117, 117);
  border-right-color: transparent !important;
  border-radius: 50%;
  animation: spinner .75s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}