.week-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;

  &-item {
    border: 1px solid #888;
    height: 140px;
    width: 140px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      border: 1px solid #555;
      color: #555;
    }
  }
}