.day-info {
  height: 100%;
  width: calc(40% - 40px);
  font-size: 12px;

  &__heading {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #888;
    font-weight: 500;
    font-size: 22px;
    margin: 20px 0 5px;
  }

  &__day {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: #888;
  }

  &__line {
    display: flex;
    margin: 15px 0;
    line-height: 20px;
    max-width: 300px;

    &:nth-child(3) {
      border-bottom: 1px solid #888;
    }
  }

  &__first-column {
    display: flex;
    align-items: center;
    color: #888;
    width: 63px;
  }

  &__second-column {
    display: flex;
    align-items: center;
    color: #888;
  }
}

.day-info+div {
  width: 60%;
  margin: 20px 0 20px 20px;
  border: 1px solid #888;
  position: relative;
}