.header {
  display: flex;
  border-bottom: 1px solid #888;
  grid-column: 1/4;
  grid-row: 1/2;
  position: relative;

  &__btn,
  a {
    border: none;
    margin: 0;
    padding: 3px 15px;
    background-color: transparent;
    color: #888;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;

    &:hover {
      color: #555;
    }
  }

  &__input-wrap {
    position: relative;


    .search-input__input {
      border-radius: 2px;
      line-height: 28px;
    }

    .search-input__icon {
      top: 8px;
    }
  }

  &__searcher-wrap {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
  }

  &__searcher-list {
    color: #888;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 1px #00000024;
    position: absolute;
    right: 15px;
    top: 80%;
    max-width: 180px;
    width: 180px;
    max-height: 200px;
    padding: 5px 0;
    font-size: 12px;
    background-color: rgb(245, 245, 245);
    z-index: 99;

    &-item {
      padding: 4px 5px;
      cursor: pointer;

      &:hover {
        color: #555;
        background-color: rgb(235, 246, 248);
      }
    }
  }
}