.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #888;
  height: 60px;
}

.header__btn {
  border: none;
  padding: 2px 20px;
  margin: 0;
  background-color: transparent;
  color: #888;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.header__btn:hover {
  color: #555;
}

.header__input-wrap {
  margin-left: auto;
  margin-right: 15px;
}

.header__input-wrap .search-input__input {
  border-radius: 4px;
  line-height: 28px;
  width: 280px;
}

.header__input-wrap .search-input__icon {
  top: 8px;
}
/*# sourceMappingURL=Header.css.map */