.adv-info {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  position: relative;

  .spinner__wrp {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}